# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CreditService.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\workspace\Tests\CreditService\CreditService\.idea\.idea.CreditService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
